.header{
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: $background-white;

  position: relative;
  &-menu{
    list-style: none;
    display: flex;
    &__item{
      & a{
        font-weight: 500;
        color: $grayish-blue;
        text-decoration: none;
        transition: all 0.2s ease;
        display: block;
        padding: 0 1rem 1.5rem 1rem;
        border: 4px solid white;
        &:hover{
          color: $dark-blue;
          border-bottom: 4px solid $lime-green;
        }
        &:focus{
          opacity: 0.7;
          border-bottom: 4px solid $lime-green;
          outline: none;
        }
      }
    }
  }
  &__button{
    background: linear-gradient(90deg, $lime-green, $bright-cyan);
    color: $background-white;
    border: none;
    border-radius: 32px;
    padding: 1rem 1.5rem;
    transition: all 0.2s ease;
    &:hover{
      opacity: 0.7;
      cursor: pointer;
    }
    &:focus{
      outline: none;
      opacity: 0.7;
    }
  }
}


@media screen and (min-width: $breakpoint-mobile){
  .hamburger{
    &__button{
      display: block;
    }
    &__content{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      & .header__menu{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 2rem;
      }
      & .header__button{
        margin: 1rem 0;
      }
    }
  }
}
@media screen and (max-width: $breakpoint-mobile){
  .hamburger{
    &__button{
      width: 40px;
      height: 40px;
      border: none;
      background-position: center center;
      background-repeat: no-repeat;
      transition: 0.1s ease;
      cursor: pointer;
      &.closed{
        background-image: url('../images/icon-hamburger.svg');
        background-color: #fff;
      }
      &.opened{
        background-image: url('../images/icon-close.svg');
        background-color: $light-grayish-blue;
      }
      &:focus{
        outline: none;
      }
    }
    &__content{
      z-index: 200;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      & .header__menu{
        flex-direction: column;
      }
      & .header__button{
        margin: 2rem;
      }
      &.opened{
        display: flex;
      }
      &.closed{
        display: none;
      }
    }
  }

}

