/* - Mobile: 375px
- Desktop: 1440px
- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)

## Typography

### Body Copy

- Font size: 12px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.component {
    font-family: 'Kumbh Sans', sans-serif ;
    font-size: 12px;

    height: 509px;
    width: 100%;
    background-color: white;
    border-radius: 23px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.component__image {
    background-repeat: no-repeat;
    position: absolute;
}
.component__info {
    position: absolute;

    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 16px;
}
.info__header {
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 54px;
}
.info__dropdown-list {
    margin-top:18px;
}
ul>li{
    list-style-type: none;
}
.dropdown-list__item {
    max-width: 340px;
    width: 100%;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 4px 0;
}
.hide {
    display: none;
}
.item__question {
    display: block;
    border: none;
    outline: none;
    background-color: white;
    padding: 0;
    padding-right: 24px;
    max-width: 340px;
    height: 44px;
    width: 100%;
    position: relative;
    text-align: left;

    color: hsl(237, 12%, 33%);
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
}
.item__question.opened {
    font-weight: 700;
}
.item__question::after{
    display: block;
    position: absolute;
    top: calc(50% - 4px);
    right: 0;
    content: '';
    width: 16px;
    height: 16px;
    background: url('./images/icon-arrow-down.svg');
    background-repeat: no-repeat;
}
.item__question.opened:after {
    transform: rotate(180deg);
    top: 8px;
    right: 5px;
}
.item__question:hover {
    color:hsl(14, 88%, 65%);
}
.item__answer {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color: hsl(240, 6%, 50%);
    line-height: 18px;
    padding-bottom: 16px;
}

/* Media queries */
@media screen and (max-width: 929px) {
    .component {
        width: 330px;
        height: 535px;
    }
    .component__image {
        top: -100px;
        left: calc(50% - 145px);
        width: 260px;
        height: 180px;
        background-image: url('./images/illustration-woman-online-mobile.svg'), url('./images/bg-pattern-mobile.svg');
        background-position:2px calc(50% - 4px), 25px 75px;
        background-size:100% 100%, auto;
    }
    .component__info {
        top: 0;
        left: 0;
        width: calc(100% - 16px);
        margin: 70px 8px 0;
        
    }
    .component__info > .info__header {
        text-align: center;
    }
}
@media screen and (min-width: 930px) {
    .component {
        width: 920px;
        height: 509px;
    }
    .component__image {
        top: 0;
        left: -85px;
        width: calc(50% + 85px);
        height: 100%;
        background-image: url('./images/illustration-box-desktop.svg'), url('./images/illustration-woman-online-desktop.svg'), url('./images/bg-pattern-desktop.svg');
        background-position:-10px calc(50% + 42px), 2px calc(50% - 4px), calc(50% - 280px) calc(50% - 80px);
        background-size: auto, auto, auto;
    }
    .component__info {
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
    }
    .component__info > .info__header {
        text-align: left;
    }
}